body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
h1, h2, h3{
    color: #333;
}
header{
    background: #50b3a2;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section{
    padding: 40px;
    margin: 20px auto;
    background: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 900px;
    border-radius: 8px;
}
.profile{
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

ul.skills{
    list-style:  square;
    padding-left: 20px ;

}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td{
    border: 1px solid #ddd;
}
th, td{
    padding: 12px;
    text-align: left;
}
th{
    background-color: #f4f4f4;
}
footer{
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}